<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Welcome</servlet-name>
  	<display-name>Welcome</display-name>
  	<description></description>
  	<servlet-class>com.revature.training.pms.controller.Welcome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<display-name>AuthenticateUser</display-name>
  	<description></description>
  	<servlet-class>com.revature.training.pms.controller.AuthenticateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.revature.training.pms.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Welcome</servlet-name>
  	<url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticateUser</servlet-name>
  	<url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
</web-app>
